NODE_ENV=production
PORT=4000
DB_HOST=localhost
DB_USER=root
DB_NAME=bmcjatrn_yubi
DB_USER=bmcjatrn_Yubifoods
DB_PORT=3306
DB_PASSWORD=
JWT_SECRET=change_this_secret
RAZORPAY_KEY_ID=rzp_test_your_key
RAZORPAY_KEY_SECRET=your_key_secret
CLIENT_ORIGIN=https://yubi.co.in/
CORS_ORIGIN=https://yubi.co.in/ 
DB_USER=bmcjatrn_Yubifoods
